Repository CSID-DGU/2025-2-CECD2-1-TDD-11, changes with the owners that CODEOWNERS names for each.
All owners: @emjayMJkim, @bianbbc87, @jiminw00, @rubyLee18, @CSID-DGU/tdd

CODEOWNERS:

# 전체 기본 리뷰어
# * @CSID-DGU/tdd

# 실제 프로젝트 폴더 기반 리뷰어 할당
app/** @emjayMJkim
web/** @bianbbc87
server/** @bianbbc87 @jiminw00
ai/** @rubyLee18 @jiminw00
deploy/** @bianbbc87
monitoring/** @bianbbc87

# GitHub 관련 파일
.github/** @CSID-DGU/tdd

fix: 플랫폼별 이슈 라벨 네이밍 수정
  .github/ISSUE_TEMPLATE/ai.md
  .github/ISSUE_TEMPLATE/app.md
  .github/ISSUE_TEMPLATE/devops.md
  .github/ISSUE_TEMPLATE/server.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/web.md
Owners: @CSID-DGU/tdd

add: pr 시 도메인에 맞는 자동 라벨 붙이기
  .github/workflows/auto-label-pr.yml
Owners: @CSID-DGU/tdd

add: prod 브랜치에 대한 pr은 main으로 merge하는 workflow 추가
  .github/workflows/auto-assign.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/auto-merge-to-main.yml
  .github/workflows/pr-backup.yml
  COMMIT_CONVENTION.md
Owners: @CSID-DGU/tdd

docs: deploper guide 수정
  DEVELOPER_GUIDE.md
Owners: none

docs: commit convection 예시 변경
  COMMIT_CONVENTION.md
  README.md
Owners: none

Create README.md
  .github/question-algorithm/README.md
Owners: @CSID-DGU/tdd

Add files via upload
  .github/question-algorithm/material.json
  .github/question-algorithm/question.py
  .github/question-algorithm/theme.json
Owners: @CSID-DGU/tdd

refactor(ai): question-algorithm을 ai/legacy/로 이동
  .github/question-algorithm/material.json
  .github/question-algorithm/question.py
  .github/question-algorithm/theme.json
  ai/legacy/question-algorithm/README.md
  ai/legacy/question-algorithm/material.json
  ai/legacy/question-algorithm/question.py
  ai/legacy/question-algorithm/theme.json
Owners: @CSID-DGU/tdd, @rubyLee18, @jiminw00

feat: Interview Chat V2 LLM 기반 소재 매칭 시스템 추가
  ai/.gitignore
  ai/CHANGELOG.md
  ai/README.md
  ai/flows/interviews/chat/interview_chat_v2/README.md
  ai/flows/interviews/chat/interview_chat_v2/__init__.py
  ai/flows/interviews/chat/interview_chat_v2/ask_questions_v2.jinja2
  ai/flows/interviews/chat/interview_chat_v2/data.json
  ai/flows/interviews/chat/interview_chat_v2/data/material.json
  ai/flows/interviews/chat/interview_chat_v2/data/theme.json
  ai/flows/interviews/chat/interview_chat_v2/engine/__init__.py
  ai/flows/interviews/chat/interview_chat_v2/engine/core.py
  ai/flows/interviews/chat/interview_chat_v2/engine/generators.py
  ai/flows/interviews/chat/interview_chat_v2/engine/utils.py
  ai/flows/interviews/chat/interview_chat_v2/flow.dag.yaml
  ai/flows/interviews/chat/interview_chat_v2/nodes/01_parse_answer.py
  ai/flows/interviews/chat/interview_chat_v2/nodes/02_update_metrics.py
  ai/flows/interviews/chat/interview_chat_v2/nodes/03_select_and_generate.py
  ai/flows/interviews/chat/interview_chat_v2/requirements.txt
  ai/flows/interviews/standard/analyze_answer_axes/analyze_axes.jinja2
  ai/flows/interviews/standard/analyze_answer_axes/flow.dag.yaml
  ai/flows/interviews/standard/generate_interview_questions_v2/prompts/generate_interview_questions_v2.jinja2
  ai/flows/interviews/standard/map_answer_to_materials/flow.dag.yaml
  ai/flows/interviews/standard/map_answer_to_materials/map_materials.jinja2
  ai/requirements.txt
  ai/serve/TEST_GUIDE.md
  ai/serve/interviews/interview_chat_v2/README.md
  ai/serve/interviews/interview_chat_v2/dto/__init__.py
  ai/serve/interviews/interview_chat_v2/router/__init__.py
  ai/serve/requirements.txt
  ai/serve/session_manager.py
  ai/serve/test_requests.json
Owners: @rubyLee18, @jiminw00

feat: Interview Chat V2 LLM 기반 소재 매칭 시스템 추가
  ai/.gitignore
  ai/CHANGELOG.md
  ai/README.md
  ai/flows/interviews/chat/interview_chat_v2/README.md
  ai/flows/interviews/chat/interview_chat_v2/__init__.py
  ai/flows/interviews/chat/interview_chat_v2/ask_questions_v2.jinja2
  ai/flows/interviews/chat/interview_chat_v2/data.json
  ai/flows/interviews/chat/interview_chat_v2/data/material.json
  ai/flows/interviews/chat/interview_chat_v2/data/theme.json
  ai/flows/interviews/chat/interview_chat_v2/engine/__init__.py
  ai/flows/interviews/chat/interview_chat_v2/engine/core.py
  ai/flows/interviews/chat/interview_chat_v2/engine/generators.py
  ai/flows/interviews/chat/interview_chat_v2/engine/utils.py
  ai/flows/interviews/chat/interview_chat_v2/flow.dag.yaml
  ai/flows/interviews/chat/interview_chat_v2/nodes/01_parse_answer.py
  ai/flows/interviews/chat/interview_chat_v2/nodes/02_update_metrics.py
  ai/flows/interviews/chat/interview_chat_v2/nodes/03_select_and_generate.py
  ai/flows/interviews/chat/interview_chat_v2/requirements.txt
  ai/flows/interviews/standard/analyze_answer_axes/analyze_axes.jinja2
  ai/flows/interviews/standard/analyze_answer_axes/flow.dag.yaml
  ai/flows/interviews/standard/generate_interview_questions_v2/prompts/generate_interview_questions_v2.jinja2
  ai/flows/interviews/standard/map_answer_to_materials/flow.dag.yaml
  ai/flows/interviews/standard/map_answer_to_materials/map_materials.jinja2
  ai/requirements.txt
  ai/serve/TEST_GUIDE.md
  ai/serve/interviews/interview_chat_v2/README.md
  ai/serve/interviews/interview_chat_v2/dto/__init__.py
  ai/serve/interviews/interview_chat_v2/router/__init__.py
  ai/serve/requirements.txt
  ai/serve/session_manager.py
  ai/serve/test_requests.json
Owners: @rubyLee18, @jiminw00

Update README with AI server README path
  README.md
Owners: none

Update AI server README link to be clickable
  README.md
Owners: none

Enhance README with detailed engine documentation
  ai/legacy/question-algorithm/README.md
Owners: @rubyLee18, @jiminw00

Update README.md
  ai/legacy/question-algorithm/README.md
Owners: @rubyLee18, @jiminw00

Revise README for clarity on JSON schemas and NLP
  ai/legacy/question-algorithm/README.md
Owners: @rubyLee18, @jiminw00

Update section headings in README.md
  ai/legacy/question-algorithm/README.md
Owners: @rubyLee18, @jiminw00

Update README to correct project title
  ai/legacy/question-algorithm/README.md
Owners: @rubyLee18, @jiminw00

docs: set infra readme
  deploy/README.md
Owners: @bianbbc87

docs: add regacy
  README.md
Owners: none

docs: delete web server instance image
  deploy/README.md
Owners: @bianbbc87

docs: fix image
  deploy/README.md
Owners: @bianbbc87
